

  #movingObject {
    position:relative;
    opacity: 0;
  }

  #screenScalable {

  }
  
  #button {
    opacity: 0;
  }


  h1 {
    font-family: 'Nunito';
    font-weight: 850;
    color: white;
    text-align: left;
    font-size: 4.5vw;
    text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.468);
    margin-bottom: -4%;
    margin-left: 140px;
  }

  h2 {
    font-family: 'Nunito';
    font-weight: 800;
    color: white;
    text-align: left;
    font-size: 2.9vh;    
    letter-spacing: 0px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.468);
    opacity: 75%;
    margin-left: 140px;
  }

  h3 {
    font-family: 'Nunito';
    font-weight: 300;
    color: white;
    text-align: left;
    font-size: 2.2vh;    
    letter-spacing: 0px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.468);
    opacity: 40%;
    margin-left: 140px;
  }

  .profile-img-container {
    position:absolute;
    max-width: 100%; /* Make the image responsive */
    height: auto;
  }

  .profile-img-container {
    margin-top: 25px;
    margin-right: 50px;
    max-width: 17.15vh; /* Make the image responsive */
    height: auto;
    border-radius: 25px;
  }

  .overlay-img {
    position: absolute;
    margin-top: 25px;
    margin-right: 50px;
    max-width: 17.15vh; /* Make the image responsive */
    height: auto;
    border-radius: 25px;
    -webkit-filter: blur(5px);
  }

  .left-animation {
    transform: translateX(-100%);
  }

  .right-animation {
    transform: translateX(100%);
  }

  .rightarrow-btn {
    margin-top: 60px;
    margin-left: 50px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: transparent;
    background-image: url('rightarrow.png'); 
    background-size: cover;
    cursor: pointer;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
  }
  
  .white-image {
    filter: brightness(0) invert(1);
  }

  
  #gradient-canvas {
    width: 100%;
    height: 100%;
    --gradient-color-1: #5f0675;
    --gradient-color-2: #280541;
    --gradient-color-3: rgb(163, 126, 255);
    --gradient-color-4: #000000;
    z-index: -1;
    position: absolute;
    opacity: 0;
  }